modules = ["web", "nodejs-20"]

run = "npm install && node server.js"

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[userenv.shared]
ADMIN_USER = "admin"
ADMIN_PASS = "Smtpdouae22"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "douaeabdouni@gmail.com"
SMTP_PASS = "ocnc olta rwmz kwhc"
FROM_EMAIL = "douaeabdouni@gmail.com"
TO_EMAIL = "douaeabdouni@gmail.com"
SMTP_SECURE = "false"

[agent]
expertMode = true
